.container {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.reportCard {
  display: flex;
  gap: 20px;
}

h2 {
  margin-top: 20px;
}

.card1,
.card2 {
  background-color: #f9fcff;
  padding: 8px;
  width: 30vw;
}

.dot {
  color: #90c4cc;
  margin-right: 16px;
}

.card1 div,
.card2 div {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.number {
  margin-top: 18px;
}
